.article-content p {
  margin: 20px 0;
}

.article-content h2 {
  margin: 20px 0;
  font-size: 1.8rem;
  border-bottom: 1px solid #e0e0e0;
}

.article-content h3 {
  margin: 20px 0;
  font-size: 1.25rem;
  text-decoration: underline;
  text-decoration-color: #e0e0e0;
}

.article-content a {
  word-break: break-all;
  text-decoration: underline;
}

.article-content a:hover {
  color: #c1170c;
}

html.dark .article-content > p code:not([class]),
html.dark .article-content > code:not([class]) {
  background-color: #fff;
  font-size: 14px;
  padding: 2px 3px;
  border-radius: 1px;
}

html.light .article-content > p code:not([class]),
html.light .article-content > code:not([class]) {
  background-color: #000;
  font-size: 14px;
  padding: 2px 3px;
  border-radius: 1px;
}

.article-content pre {
  position: relative;
  padding: 32px 16px 16px 16px;
  &::before {
    content: attr(data-language);
    position: absolute;
    top: 0;
    right: 16px;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    background: #005a9c;
    color: #fff;
  }
  code {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}

.article-content blockquote {
  border-left: 4px solid #c1170c;
  line-height: 1.8;
  padding-left: 16px;
  margin: 0 0 20px 20px;
}

.article-content ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 20px 0;
  li {
    margin: 8px 0;
  }
}

.article-content ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 20px 0;
  li {
    margin: 8px 0;
  }
}

.article-content table {
  display: block;
  overflow-x: auto;
}

.article-content tr,
.article-content td,
.article-content th {
  border: 1px solid #555;
  border-collapse: collapse;
  padding: 8px;
  min-width: 50px;
}
