---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <article>
      <h2>Article Title</h2>
      <p>Article Content</p>
      <div>
        <a href="/article/1">Read More</a>
      </div>
    </article>
    <article>
      <h2>Article Title</h2>
      <p>Article Content</p>
      <div>
        <a href="/article/2">Read More</a>
      </div>
    </article>
    <article>
      <h2>Article Title</h2>
      <p>Article Content</p>
      <div>
        <a href="/article/3">Read More</a>
      </div>
    </article>
  </section>
  <div>
    <a href="/" rel="prev"> ← 較新文章 </a>
    <a href="/" rel="next"> 較舊文章 → </a>
  </div>
</MainLayout>
