---
const startYear = 2019;
const currentYear = new Date().getFullYear(); // e.g. 2024
---

<footer
  class="bg-footer-texture h-36 bg-repeat-x text-white flex items-center justify-center text-center"
>
  <div>
    Copyright © {startYear}-{currentYear}{" "}
    <a
      href="https://github.com/castle2668"
      class="underline hover:text-maple-600">Sean Huang</a
    >. All rights reserved.
    <br />
    All images and other content related to MapleStory are owned by Nexon Corporation.
  </div>
</footer>
