---
import { Image } from "astro:assets";

import logo from "../images/avatar.jpeg";
---

<nav class="bg-darkGray text-white">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image
        src={logo}
        class="rounded"
        alt="TechPeople Logo"
        width={55}
        height={55}
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        ><span class="text-maple-500">Sean's</span> Blog</span
      >
    </a>
    <div class="w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex p-0 mt-4 text-white rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-maple-600"
            aria-current="page">首頁</a
          >
        </li>
        <li>
          <a
            href="/articles"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-maple-600"
            >所有文章</a
          >
        </li>
        <li class="hidden sm:block">
          <a
            href="/archive"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-maple-600"
            >歸檔</a
          >
        </li>
        <li class="hidden sm:block">
          <a
            href="/tags"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-maple-600"
            >所有標籤</a
          >
        </li>
        <li>
          <a
            href="/about"
            class="block py-2 px-3 text-white rounded md:p-0 hover:text-maple-600"
            >關於</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
