---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";

const { title = "Articles, Stories & Tutorials For Tech People" } = Astro.props;

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body class="">
    <Navbar />

    <section class="container mx-auto max-w-screen-xl my-10 px-8">
      <slot />
    </section>

    <Footer />
  </body>
</html>
