---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";

const { title = "Home" } = Astro.props;

interface Props {
  title?: string;
}
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <title>{title} | {SITE_TITLE}</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-360W2PV7GV"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-360W2PV7GV");
    </script>
  </head>
  <body>
    <Navbar />

    <section class="container mx-auto max-w-screen-xl my-10 px-8">
      <slot />
    </section>

    <Footer />
  </body>
</html>
